html,
body {
  height: 100%;
  font-size: 20px;
  color: $c-19;
  @media(max-width: 1300px){
	font-size: 16px;
  }
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
a{
  text-decoration: none;
}
input:focus,
textarea:focus{
  outline: none;
}
textarea{
  resize: vertical;
}
.container{
  width: 100%;
  max-width: $w-max;
  //min-width: $w-min;
  margin: 0 auto;
}
.line{
  height: 5px;
  background: rgb(96, 191, 112);
  background: linear-gradient(270deg, rgb(96, 191, 112) 0%, rgb(176, 227, 107) 100%);
}
.logo{
  @include bg-img(cover);
  display: block;
  background-image: url(images/logo.svg);
  width: 170px;
  height: 44px;
  &_white{
	background-image: url(images/logo.png);
	width: 320px;
	height: 80px;
  }
}
.ttl{
  display: inline-block;
  font-size: 60px;
  font-family: CodeProBoldLC;
  text-transform: uppercase;
  margin-bottom: 45px;
  margin-left: 125px;
  &:after{
	content:"";
	margin-top: 20px;
	height: 4px;
	width: 100%;
	display: block;
	background: rgb(96, 191, 112);
	background: linear-gradient(270deg, rgb(96, 191, 112) 0%, rgb(176, 227, 107) 100%);
  }
  @media(max-width: 1200px){
	margin-left: 65px;
	margin-bottom: 20px;
  }
}
.ttl-noborder {
  display: inline-block;
  font-size: 60px;
  font-family: CodeProBoldLC;
  text-transform: uppercase;
  margin-bottom: 45px;
  margin-left: 125px;
  @media(max-width: 1200px){
	margin-left: 65px;
	margin-bottom: 20px;
  }
}
.green-prev{
  color: $c-green-l;
  font-size: 20px;
  font-family: CodeProLC;
  margin-left: 125px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &:before{
	content:"";
	display: inline-block;
	width: 50px;
	height: 2px;
	background-color: $c-green-l;
	margin-right: 15px;
  }
  @media(max-width: 1200px){
	margin-left: 65px;
  }
}
#top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  width: 75px;
  height: 75px;
  background-image: url(images/totop.svg);
  background-repeat: no-repeat;
  background-size: 75px 75px;
  opacity: 1;
  transition: opacity .5s;
  &:hover{
	opacity: .5;
  }
}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}
.ya-share2__icon{
  width: 40px !important;
  height: 40px !important;
}
.detail-content{
  ul li{
	display: flex;
	margin-bottom: 10px;
	&:before{
	  @include bg-img(contain);
	  content:'';
	  width: 20px;
	  height: 20px;
	  background-image: url('images/li.svg');
	  flex: 0 0 auto;
	  margin-right: 20px;
	  margin-top: 5px;
	}
  }
}