.header {
  width:100%;
  height: 127px;
  z-index:0;
  &__inner{
	width:100%;
	background: $white;
	position: fixed;
	z-index: 9;
  }
  &__wrapper{
	display: flex;
	height: 122px;
	box-sizing: border-box;
	padding-top: 42px;
	padding-right: 30px;
	padding-left: 30px;
  }
  &__logo{
	padding-right: 3.8em;
	padding-left: 1.5em;
	width: 170px;
	flex: 0 0 auto;
  }
  &__menu{
	padding-top: 11px;
	flex: 1 1 auto;
  }
}
.header-menu{
  &__items{
	display: inline-block;
	margin-right: 2.6em;
  }
  &__links{
	font-size: 1.150em;
	line-height: 1em;
	font-family: SegoeUILight;
	letter-spacing: 0.1em;
	color: $c-f;
	transition: .5s;

	&_active,
	&:hover{
		color: $c-green-l;
	}
  }
}
.search{
  &__wrapper{
	border: 1px solid transparent;
	position: relative;
	height: 51px;
	width: 70px;
	box-sizing: border-box;
	transition: .5s;
	&_open{
	  width: 339px;
	  border: 1px solid $c-green-l;
	}
  }
  &__input{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding-left: 70px;
	padding-right: 10px;
	font-size: 20px;
	border: 0;
	-webkit-appearance: none;
	&::-webkit-search-cancel-button {
	  -webkit-appearance: none;
	}
  }
  &__submit{
	display: none;
  }
  &__btn{
	@include bg-img(contain);
	position: absolute;
	left: 16px;
	top: 8px;
	background-color: transparent;
	border: none;
	width: 41px;
	height: 35px;
	background-image: url('images/search.svg');
	cursor: pointer;
  }
}