//colors
$black: #000;
$white: #fff;
$c-green-l: #60BF70;
$c-f: #3d3d3d;
$c-border: #95989A;
$c-b26: #262626;
$c-b41: #414141;
$c-b9: #B9BDBF;
$c-4a: #4A4C4D;
$c-f5: #F5F5F5;
$c-19: #19191A;
$c-f2: #f2f2f2;


$w-max: 1920px;
$w-min: 1000px;