script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
script.
    ymaps.ready(init);
    function init () {
        var map = new ymaps.Map("map", {
            center: [64.5452575573273,40.51837599999999],
            zoom: 17
        });
        var placemark = new ymaps.Placemark([64.5452575573273,40.51837599999999], {
            balloonContent: '163 000, Росcия, г.Архангельск, пр.Троицкий 106, строение 1',
        }, {
        });
        map.geoObjects.add(placemark);
    }