footer.footer
    .line
    .container
        .footer__wrapper
            .footer__logo
                a.logo.logo_white(href="/")
            .footer__contacts
                .footer__contacts-wrapper
                    .footer__tel 8 (999) 250 - 88 - 12
                    .footer__address.
                        г. Архангельск<br>
                        пр. Троицкий 106, строение 1
            .footer__links
                a.footer__ss(href="#" style="background-image:url('images/vk-white.svg')")
                a.footer__f5(href="#").
                    Разработка сайта<br>
                    Digital-агенство F5
