.index-b1{
  padding: 10px;
  background: rgb(96, 191, 112);
  background: linear-gradient(270deg, rgb(96, 191, 112) 0%, rgb(176, 227, 107) 100%);
  text-align: center;
  color: $white;
  &__ttl{
	padding-top: 200px;
	font-size: 145px;
	font-family: OpenSans;
	text-transform: uppercase;
	margin-bottom: 150px;
  }
  &__prev{
	font-family: Tinos;
	font-size: 45px;
	margin-bottom: 150px;
  }
  &__btn{

  }
}
.main-img{
  @include bg-img(cover);
  height: 935px;
  width: 100%;
}
.index-b4{
  overflow: hidden;
  margin-bottom: 50px;
  &__btn{
	float: right;
	margin-right: 115px;
  }
}
.service{
  margin: 0 -10px 30px;
  &__item{
	@include bg-img(cover);
	height: 360px;
	box-sizing: border-box;
	padding: 0 10%;
	margin: 0 10px 10px;
	color: $white;
	font-family: SegoeUILight;
	font-size: 25px;
	line-height: 28px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
	position: relative;

	&:hover .service__more{
	  opacity: 1;
	}

  }
  &__more{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: $c-green-l;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity .8s;
  }
  &__more-link{
	display: block;
	color: $white;
	text-transform: uppercase;
	font-size: 41px;
	font-family: SegoeUILight;
	border: 2px solid $white;
	padding: 30px 50px;
  }
  .col-xs-4{
	&:nth-child(2n) .service__item{
	  animation-delay: .2s;
	}
	&:nth-child(3n) .service__item{
	  animation-delay: .4s;
	}
  }
}
.index-b5{
  background: rgba(96, 191, 112, 0.15);
  background: linear-gradient(270deg, rgba(96, 191, 112, 0.15) 0%, rgba(176, 227, 107, 0.15) 100%);
  padding-top: 150px;
  padding-bottom: 50px;
  overflow: hidden;
  &__btn{
	text-align: center;
  }
}
.news-prev{
  margin: 0 -10px 30px;
  &__item{
	display: block;
	background: $white;
	margin: 0 10px 20px;
	height: 675px;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
  }
  &__img{
	@include bg-img(cover);
	height: 410px;
	position: relative;

	&_big{
	  height: 510px;
	}
  }
  &__ttl{
	font-family: CodeProBoldLC;
	font-size: 24px;
	color: $c-b41;
	margin-bottom: 20px;
	&_big{
	  font-size: 50px;
	  color: $white;
	  position: absolute;
	  bottom: 45px;
	  left:	50px;
	  margin-bottom: 0;
	}
  }
  &__text{
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
	max-height: 225px;
	&_big{
	  padding: 20px 50px;
	  max-height: 132px;
	}
  }
  &__date{
	color: $c-b9;
	font-family: SegoeUI;
	margin-bottom: 20px;
  }
  &__prev{
	color: $c-4a;
	font-size: 20px;
	line-height: 24px;
	font-family: Tinos;
  }
  .col-xs-3,
  .col-xs-6{
	&:nth-child(2n) .news-prev__item{
	  animation-delay: .2s;
	}
	&:nth-child(3n) .news-prev__item{
	  animation-delay: .4s;
	}
  }
}
.index-b3{
  margin-bottom: 130px;
  overflow: hidden;
}
.about-us{
  &__item{
	@include bg-img(cover);
	height: 1070px;
	color: $white;
	padding-top: 325px;
	box-sizing: border-box;
  }
  &__inner{
	width: 500px;
	margin: 0 auto;
  }
  &__ttl{
	font-size: 53px;
	font-family: CodeProBoldLC;
	margin-bottom: 75px;
  }
  &__text{

	&_f{
		display: flex;
		align-items: center;
	}

	&:before,
	&:after{
	  content: '';
	  display: block;
	  width: 65px;
	  height: 2px;
	  background-color: $white;
	}
	&:before{
	  margin-bottom: 80px;
	}
	&:after{
	  margin-top: 80px;
	}
  }
  &__xxl{
	font-size: 159px;
	font-family: CodeProLC;
	margin-right: 10px;
  }
  &__l{
	font-size: 58px;
	font-family: CodeProLC;
  }
  &__m{
	font-size: 46px;
	font-family: CodeProLC;
	line-height: 50px;
  }
  &__s{
	font-size: 36px;
	font-family: CodeProLC;
	line-height: 40px;
  }

  .col-xs-4{
	&:nth-child(2) .about-us__inner{
	  animation-delay: .6s;
	}
	&:nth-child(3) .about-us__inner{
	  animation-delay: .8s;
	}
  }
}
.index-b2{
  padding-top: 125px;
  padding-bottom: 80px;
  background-color: $c-f5;
}
.we-wrapper{
  padding-top: 80px;
}
.we{
  /*display: flex;
  flex-wrap: wrap;*/
  max-width: 720px;
  margin: 70px auto 0px;

  &__item{
	height: 250px;
	//width: 280px;
	//width: 100%;
	margin: 0 40px 40px;
	border: 1px solid $c-border;
	box-sizing: border-box;
	text-align: center;
	padding: 10px;

	/*&:nth-child(2){
	  transition-delay: .4s;
	}
	&:nth-child(3){
	  transition-delay: .6s;
	}*/
  }
  &__img{
	@include bg-img(contain);
	width: 70px;
	height: 60px;
	margin: 0 auto 20px;
  }
  &__text{
	color: $c-b26;
	font-size: 20px;
	font-family: Tinos;
  }
  .col-xs-6{
	&:nth-child(2n) .we__item{
	  animation-delay: .2s;
	}
	&:nth-child(2n+1) .we__item{
	  animation-delay: .4s;
	}
  }
}
.we-img{
  @include bg-img(cover);
  height: 840px;
  width: 100%;
}

.index-b7{
  background-color: $c-f5;
  padding-top: 80px;
  padding-bottom: 100px;
}
.partners{
  max-width: 1400px;
  margin: 40px auto 0;

  &__item{
	@include bg-img(contain);
	height: 140px;
	margin-bottom: 40px;
  }
  .col-xs-3{
	&:nth-child(2n) .partners__item{
	  animation-delay: .2s;
	}
	&:nth-child(2n+1) .partners__item{
	  animation-delay: .4s;
	}
  }
}

.index-b6{
  padding-top: 150px;
  padding-bottom: 150px;
}
.index-swiper{
  overflow: hidden;
  position: relative;
}
.index-swiper-pagination{
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  z-index: 2;
  .swiper-pagination-bullet-active{
	background: $c-green-l;
  }
  .swiper-pagination-bullet{
	width: 10px;
	height: 10px;
  }
}

.send-req{
  max-width: 840px;
  margin: 0 auto;
}
.input-f{
  margin: 0 30px 30px;

  &__input{
	border: 0;
	border-bottom: 2px solid $black;
	font-family: Tinos;
	font-size: 18px;
	line-height: 20px;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
  }
  &__textarea{
	border: 0;
	border-bottom: 2px solid $black;
	font-family: Tinos;
	font-size: 18px;
	line-height: 20px;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
  }
}
.select {
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid $black;
  font-family: Tinos;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  box-sizing: border-box;
  color: $c-border;

}
.select-label{
  padding: 20px;
  &:after{
	content: "";
	background: url(images/show_opt.svg) no-repeat 0 0;
	width: 35px;
	height: 10px;
	display: block;
	position: absolute;
	right: 30px;
	top: 27px;
  }
}
.select-ul{
  display: none;
  position: absolute;
  top: 60px;
  background: #fff;
  z-index: 99;
  width: 100%;
}
.select-li{
  background-color: #fff;
  border-bottom: 1px solid $c-border;
  font: 18px/22px "Tinos";
  padding: 18px 16px;
  cursor: pointer;
  color: $c-border;
  transition: .8s;
  &:first-of-type{
	border-top: 1px solid $c-border;
  }
  &:hover,
  &.selected{
	background-color: $c-green-l;
	color: $white;
	border-bottom: 1px solid $white;
  }
}
.req__submit{
  text-align: right;
}
.inner-page{
  overflow: hidden;
  padding-top: 60px;
}
.news-page{
  background: rgba(96, 191, 112, 0.15);
  background: linear-gradient(270deg, rgba(96, 191, 112, 0.15) 0%, rgba(176, 227, 107, 0.15) 100%);
}
.contacts-page{
  background-color: $c-f2;
}
.map-wrapper{
  margin-bottom: 60px;
}
.map{
  height: 440px;
}
#map{
  width: 100%;
  height: 100%;
}
.con-com{
  max-width: 1680px;
  margin: 0 auto 140px;
  &__item{
	margin-right: 100px;
  }
  &__ttl{
	font-size: 40px;
	font-family: SegoeUI;
	color: $c-19;
	padding-left: 50px;
	margin-bottom: 30px;
  }
  &__data{
	color: $c-4a;
	font-size: 32px;
	font-family: RobotoLight;
	line-height: 38px;
	position: relative;
	padding-left: 50px;
	a{
	  color: $c-4a;
	}
	&:before{
	  @include bg-img(contain);
	  content: '';
	  position: absolute;
	  display: block;
	  top:0;
	  left:0;
	  width: 40px;
	  height: 40px;
	}
	&_address:before{
	  background-image: url('images/c-pin.svg');
	}
	&_tel:before{
	  background-image: url('images/c-tel.svg');
	}
	&_mail:before{
	  background-image: url('images/c-mail.svg');
	}
  }
  .col-xs-4:last-of-type .con-com__item{
	margin-right: 0;
  }
}
.con-main{
  max-width: 1680px;
  margin: 0 auto 120px;
}
.con-all{
  max-width: 1680px;
  margin: 0 auto ;
  &__item{
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	padding: 50px;
  }
}
.white-pers{
  background-color: $white;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.pers-fio{
}
.pers-contacts{
  flex: 0 0 auto;
  min-width: 227px;
}
.pers-f{
  font-size: 45px;
  font-family: SegoeUI;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pers-io{
  font-size: 35px;
  font-family: SegoeUILight;
  &:after{
	content: '';
	display: block;
	width: 280px;
	height: 2px;
	background: rgb(96, 191, 112);
	background: linear-gradient(270deg, rgb(96, 191, 112) 0%, rgb(176, 227, 107) 100%);
	margin-bottom: 25px;
	margin-top: 25px;
  }
}
.pers-dlz{
  font-size: 25px;
  font-family: SegoeUI;
}
.pres-tel{
  font-size: 35px;
  font-family: SegoeUILight;
  margin-bottom: 30px;
}
.pres-mail{
  a{
	font-size: 35px;
	font-family: SegoeUILight;
	color: $c-19;
  }
}
.pers-ur{
  margin-left: 50px;
  &__ttl{
	font-size: 34px;
	font-family: SegoeUI;
	margin-bottom: 16px;
  }
  &__val{
	font-size: 28px;
	font-family: RobotoLight;
	margin-bottom: 16px;
  }
}