extends core/_template

append sharedVars
    - var activeMenu = 'Новости';

block title
    title Новости

block content
    //workarea
    .workarea
        .inner-page.news-page
            .ttl.js-show_left Новости
            .news-prev
                .row
                    .col-xs-6
                        a.news-prev__item.js-show_up(href="#")
                            .news-prev__img.news-prev__img_big(style="background-image:url('images/TEMP/wind-energy-1220578-1599x1064.jpg')")
                                .news-prev__ttl.news-prev__ttl_big ГРОМКИЙ ЗАГОЛОВОК
                            .news-prev__text.news-prev__text_big
                                .news-prev__date 11.11.2017
                                .news-prev__prev Информативный текст. Действительно очень Информативный текст. Действительно очень Информативный текст. Действительно очень Информативный текст. Действительно очень Информативный текст. Действительно очень Информативный текст. Действительно оченьИнформативный текст. Действительно очень Информативный текст. Действительно очень Информативный текст. Действительно очень Информативный текст. Действительно очень Информативный текст. Действительно очень Информативный текст. Действительно очень
                    .col-xs-3
                        a.news-prev__item.js-show_up(href="#")
                            .news-prev__img(style="background-image:url('images/TEMP/solar-panel-array-1794485_1280.jpg')")
                            .news-prev__text
                                .news-prev__ttl Заголовок
                                .news-prev__date 11.11.2017
                                .news-prev__prev Консультация и обслуживание предприятий и организаций
                    .col-xs-3
                        a.news-prev__item.js-show_up(href="#")
                            .news-prev__img(style="background-image:url('images/TEMP/startup-593304_1920.jpg')")
                            .news-prev__text
                                .news-prev__ttl Заголовок
                                .news-prev__date 11.11.2017
                                .news-prev__prev Консультация и обслуживание предприятий и организаций онсультация и обслуживание предприятий и организаций онсультация и обслуживание предприятий и организацийонсультация и обслуживание предприятий и организаций онсультация и обслуживание предприятий и организаций
                    .col-xs-3
                        a.news-prev__item.js-show_up(href="#")
                            .news-prev__img(style="background-image:url('images/TEMP/stock-photo-businessman-handshaking-in-office-teamwork-cooperation-agreement-acquisition-concept-seen-520457383.jpg')")
                            .news-prev__text
                                .news-prev__ttl Заголовок
                                .news-prev__date 11.11.2017
                                .news-prev__prev Консультация и обслуживание предприятий и организаций
                    .col-xs-3
                        a.news-prev__item.js-show_up(href="#")
                            .news-prev__img(style="background-image:url('images/TEMP/wind-energy-1220578-1599x1064.jpg')")
                            .news-prev__text
                                .news-prev__ttl Заголовок
                                .news-prev__date 11.11.2017
                                .news-prev__prev Консультация и обслуживание предприятий и организаций
                    .col-xs-3
                        a.news-prev__item.js-show_up(href="#")
                            .news-prev__img(style="background-image:url('images/TEMP/wind-energy-1220578-1599x1064.jpg')")
                            .news-prev__text
                                .news-prev__ttl Заголовок
                                .news-prev__date 11.11.2017
                                .news-prev__prev Консультация и обслуживание предприятий и организаций
                    .col-xs-3
                        a.news-prev__item.js-show_up(href="#")
                            .news-prev__img(style="background-image:url('images/TEMP/wind-energy-1220578-1599x1064.jpg')")
                            .news-prev__text
                                .news-prev__ttl Заголовок
                                .news-prev__date 11.11.2017
                                .news-prev__prev Консультация и обслуживание предприятий и организаций
                //end .news-prev
        //end .news-page
    //end workarea