extends core/_template

append sharedVars
    - var activeMenu = 'Новости';

block title
    title Новости

block content
    //workarea
    .workarea
        .top-img(style="background-image: url('images/TEMP/beard-2286440_1920.jpg')")
            a.top-img__back(href="#")
            .top-img__inner.dc
                .top-img__ttl
                    h1 Заголовок
        //end .top-img
        .dc.detail-content
            p Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
            p Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
            p Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
        //end .detail-content
        .detail-slider
            .detail-swiper-next
            .detail-swiper-prev
            .detail-slider__inner
                .swiper-wrapper
                    .swiper-slide
                        .row
                            .col-xs-7
                                .detail-slider__img(style="background-image:url('images/TEMP/startup-593341_1920.jpg');")
                            .col-xs-5
                                .detail-slider__text
                                    .detail-slider__ttl Текст
                                    .detail-swiper-pagination
                    .swiper-slide
                        .row
                            .col-xs-7
                                .detail-slider__img(style="background-image:url('images/TEMP/beard-2286440_1920.jpg');")
                            .col-xs-5
                                .detail-slider__text
                                    .detail-slider__ttl Текст Текст Текст
                                    .detail-swiper-pagination

        //end .detail-slider
        .dc.detail-footer
            .detail-footer__date Дата размещения 11.11.2016
            .detail-footer__ss.
                <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="//yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,twitter,facebook,odnoklassniki"></div>
        //end .detail-footer
    //end workarea