extends core/_template

append sharedVars
    - var activeMenu = 'Услуги';

block title
    title Услуги

block content
    //workarea
    .workarea
        .top-img(style="background-image: url('images/TEMP/beard-2286440_1920.jpg')")
            a.top-img__back(href="#")
            .top-img__inner.dc
                .top-img__ttl
                    h1 Экологический менеджмент и аудит
        //end .top-img
        .dc.detail-content
            p Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
            p Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
            p Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
            ul
                li Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
                li Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
                li Министерство
                li Министерство юстиции США обвинило научного сотрудника Массачусетского технологического Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
                li Министерство юстиции США обвинило научного сотрудника Массачусетского технологического
        //end .detail-content
        .service-req
            form.send-req
                .row
                    .col-xs-6
                        .input-f
                            input.input-f__input(type="text" placeholder="Имя")
                    .col-xs-6
                        .input-f
                            input.input-f__input(type="text" placeholder="Название вашей организации")
                    .col-xs-6
                        .input-f
                            input.input-f__input(type="email" placeholder="e-mail")
                    .col-xs-6
                        .input-f
                            .select
                                .select-label.js-select Выберите услугу
                                ul.select-ul
                                    li.js-opt.select-li Экологическое проектирование
                                    li.js-opt.select-li Оценка хозяйственной деятельности на окружающую среду
                                    li.js-opt.select-li Экологический учет и отчетность предприяти, сопровождение текущей экологической деятельности
                                input(type="hidden")
                    .col-xs-12
                        .input-f
                            textarea.input-f__textarea(placeholder="Комментарий к заявке" style="height:150px;")
                    .col-xs-12
                        .input-f.req__submit
                            input.btn(type="submit" value="Отправить")
        //end .service-req
    //end workarea