extends core/_template

append sharedVars
    - var activeMenu = 'Услуги';

block title
    title Услуги

block content
    //workarea
    .workarea
        .inner-page
            .ttl.js-show_left Услуги
            .service
                .row
                    .col-xs-4
                        .service__item.js-show_up(style="background-image:url('images/TEMP/wind-energy-1220578-1599x1064.jpg')") Экологическое проектирование
                            .service__more
                                a.service__more-link(href="#") Подробнее
                    .col-xs-4
                        .service__item.js-show_up(style="background-image:url('images/TEMP/water-1246643_1920.jpg')") Оценка хозяйственной деятельности предприятия на окружающую среду
                            .service__more
                                a.service__more-link(href="#") Подробнее
                    .col-xs-4
                        .service__item.js-show_up(style="background-image:url('images/TEMP/stock-photo-panoramic-skyline-and-buildings-with-empty-concrete-square-floor-681654031.jpg')") Экологический учет и отчетность предпиятии сопровождение текущей экологической деятельности
                            .service__more
                                a.service__more-link(href="#") Подробнее
                    .col-xs-4
                        .service__item.js-show_up(style="background-image:url('images/TEMP/sky-746378_1920.jpg')") Консультация и обслуживание предприятий и организаций
                            .service__more
                                a.service__more-link(href="#") Подробнее
                    .col-xs-4
                        .service__item.js-show_up(style="background-image:url('images/TEMP/wind-energy-1220578-1599x1064.jpg')") Консультация и обслуживание предприятий и организаций
                            .service__more
                                a.service__more-link(href="#") Подробнее
                    .col-xs-4
                        .service__item.js-show_up(style="background-image:url('images/TEMP/wind-energy-1220578-1599x1064.jpg')") Консультация и обслуживание предприятий и организаций
                            .service__more
                                a.service__more-link(href="#") Подробнее
                    .col-xs-4
                        .service__item.js-show_up(style="background-image:url('images/TEMP/wind-energy-1220578-1599x1064.jpg')") Консультация и обслуживание предприятий и организаций
                            .service__more
                                a.service__more-link(href="#") Подробнее
                //end .service
        //end .service-page
    //end workarea